@font-face
{
font-family: lobsterTwo;
src: url(LobsterTwo-Regular.ttf);
}

body{
width: 1000px;
margin:0 auto;
}

h1, h2 {
font-family:lobsterTwo, sans-serrif;
text-align:center;
}

h3 , h4 h5, h6 {
font-family:Arial,Helvetica,sans-serif;
}

p {
font-family:"Times New Roman",Times,serif;
}

#footer {
text-align:center;
}